<!-- <div>
	<img src="assets/images/adult-education-2706977_1280.jpg" alt="Jimmy Logic" width="100%" style="height: 200px;">
</div> -->

<div class="container min-height-100">
	<div class="row"> 
		<div class="col-lg-7 cursor-pointer blog-list-back-color" routerLink = "/categories/blog/read-blog/{{blog._id}}/{{blog.slug}}" style="; margin: 0 auto; float: none; border-radius: 5px; margin-bottom: 50px; padding: 25px; margin-top: 20px; " *ngFor = "let blog of blogs">
		 		
		 		<h2 style="margin-bottom: 25px;" >{{blog.title}} 
		 			<small class="pull-right ">
						<i class="fa fa-arrow-circle-o-right " style="color: #2086F5" aria-hidden="true" ></i>		
		 			</small> 
		 		</h2>
		 		
		</div>
	</div>
</div>