<div>
	<img src="assets/images/adult-education-2706977_1280.jpg" alt="Jimmy Logic" width="100%" style="height: 200px;">
</div>
<div class="container">
	<div class="row">
		<div class="col-md-7 cursor-pointer blog-list-back-color" routerLink = "/blogs/pro/{{blog._id}}/{{blog.slug}}" style="; margin: 0 auto; float: none; border-radius: 5px; margin-bottom: 50px; padding: 25px; margin-top: 20px; " *ngFor = "let blog of blogs">
		 		
		 		<h1 style="margin-bottom: 25px;" >{{blog.title}} 
		 			<small class="pull-right ">
						<i class="fa fa-arrow-circle-o-right " style="color: #2086F5" aria-hidden="true" ></i>		
		 			</small> 
		 		</h1>
		</div>
	</div>
</div>