.footer {
	background: #282B2D;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D
}
.footer-bottom {
	background: #282B2D;
	padding-top: 10px;
	padding-bottom: 10px;
	
}
