<footer >
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <ul>
                        <li> <a routerLink = "/categories/blog"> Blogs </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <ul>
                        <li> <a routerLink = "/questions/list"> Questions </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <ul>
                        <li> <a routerLink = "/deposit"> Account </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <ul>
                        <li> <a> Contact Us </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li> <a> About Us </a> </li>
                    </ul>
                </div> 
            </div>
        </div>
    </div>    
    <div class="footer-bottom">
        <div class="container">
            <div class="text-center" style="color: #ffffff;"> 
            Copyright © Jimmy Logic {{year}}. All rights reserved.</div>
        </div>        
    </div>
</footer>