<app-page-header></app-page-header>
<div class="container">
  <div class="row">
    <div class="col-md-8" style=" margin: 0 auto; float: none; border-radius: 5px; margin-bottom: 50px; padding: 25px; margin-top: 20px; ">
      <div>
      <h1 style="margin-bottom: 70px;" >Bank Account Detail</h1>
        <h2> <span> Name: </span> {{name}} </h2>
        <hr/>
        <h2> <span>Bank: </span> {{bankName}} </h2>
        <hr/>
        <h2> <span>Account Number: </span> {{accountNumber}} </h2>
        <hr/>
        <h2> <span>Account Type: </span> {{accountType}} </h2>
        <hr/>
        <h2> <span>IFSC: </span> {{ifsc}} </h2>
      </div>
    </div>
  </div>
</div>
<app-page-footer></app-page-footer>