/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

.min-height-100{
	min-height: 100%;
}
.cursor-pointer{
	cursor: pointer;
}
.cursor-default{
	cursor: default;
}
.text-dec-none {
 	text-decoration:none
 }

.blog-list-back-color {
	background-color: #EAEAEA
}

.red-alert {
    color: #F44444;
}

.login-required-alert {
	padding-right: 220px;
    margin-top: 5px;	
}

.header-font {
	font-size: 15px;
}