<app-page-header></app-page-header>   

<div>
	<img class="w3-image" src="assets/images/home_page.jpg" alt="Jimmy Logic" width="100%" style="height: 400px;">
</div>

<div class="container">
	<div class="row" style="margin-top: 80px;">
		<div class="col-lg-9" style="margin: 0 auto; ">
		<h1 class="text-center">Simple Solution For Complex Problems</h1>
			<p class="text-center">We helps to solve problems technically and built amazing products. Here is a one stop place for all your software development needs. Our team is working technally very hard to make things possible for next generation.</p>
		</div>
	</div>
</div>






